@import "../abstracts/mixins";
@import "../abstracts/variables";

.accordion {
  padding-top: 8px;

  &-item {
    padding: 0;
    margin-bottom: 25px;
    background: $whiteColor;
    overflow: hidden;

    &__header {
      cursor: pointer;
      width: 100%;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: $primaryColor;
      padding: 13px;
      border-bottom: 1px solid #000000;;

      & img {
        width: 9px;
        object-fit: contain;
        margin-left: 4px;
        @include transition(.4)
      }
    }

    &__body {
      display: none;

      &-inner {
        padding:  25px 20px 0 20px;
        color: $primaryColor;
        position: relative;
        @include fontSize(12, 14);
        line-height: 1.7;
        font-family: 'OpenSans', sans-serif;
      }
    }
  }
}


.active {
  & .accordion-item__header {
    & img {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}
